﻿@using MyDistanceLearningSystem.Models
@{
    /*ApplicationDbContext db = new ApplicationDbContext();
    ApplicationUser user = db.Users.Where(u => String.Equals(u.Email, Context.User.Identity.Name)).FirstOrDefault();
    
    ViewBag.UnreadMesagesCount = user != null ? db.Messages.Where(m => m.ReceiverId == user.Id && m.IsRead == false).Count() : 0;
    var a = 0;*/
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <input id="SenderUserName" type="hidden" value="@User.Identity.Name" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("СДО", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Пользователи", "UsersList", "Account")</li>
                        <li>@Html.ActionLink("Программы обучения", "Index", "TrainingPrograms")</li>
                        <li>@Html.ActionLink("Дисциплины", "Index", "Disciplines")</li>
                        <li>@Html.ActionLink("Группы", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Библиотека", "Index", "ApplicationFiles")</li>
                    }
                    @if (User.IsInRole("teacher"))
                    {
                        <li>@Html.ActionLink("Дисциплины", "Index", "Disciplines")</li>
                        <li>@Html.ActionLink("Группы", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Библиотека", "Index", "ApplicationFiles")</li>
                        <li>@Html.ActionLink("Групповой чат", "GroupChat", "Groups")</li>
                    }
                    @if (User.IsInRole("student"))
                    {
                        <li>@Html.ActionLink("Обучение", "InterfaceForStudents", "Disciplines")</li>
                        <li>@Html.ActionLink("Группа", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Библиотека", "Index", "ApplicationFiles")</li>
                        <li>@Html.ActionLink("Групповой чат", "GroupChat", "Groups")</li>
                    }
                    <li id="messages"><a href="@Url.Action("MessagesList", "Messages")">Сообщения @{Html.RenderAction("UnreadMesagesCountSelect", "Messages");} </a></li>
                    <li>@Html.ActionLink("О системе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src='@Url.Content("~/Scripts/messager_function.js")'></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
