﻿<!--// System.Web.Mvc.HandleErrorInfo

@{
    //ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>-->
@model IEnumerable<string>
@{
    ViewBag.Title = "Ошибка";
}
<div class="alert alert-danger">
    @switch (Model.Count())
    {
        case 0:
            @: Что-то пошло не так. Пожалуйста, попробуйте еще раз!
            break;
        case 1:
            @Model.First();
            break;
        default:
            @: Следующие ошибки были обнаружены:
            <ul>
                @foreach (string error in Model)
                {
                    <li>@error</li>
                }
            </ul>
            break;
    }
</div>
@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default" })

