﻿@model IEnumerable<MyDistanceLearningSystem.Models.GroupDiscipline>
@{
    ViewBag.Title = "InterfaceForStudents";
}

<h2>Обучение по программе "@ViewBag.TrainingProgram.Name"</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
@foreach (var item in Model)
{
    <div class="dl-horizontal discipline-container">
        <div class="text-center">
            <h4><span class="discipline" id="@item.Id" title="Дисциплина @item.Name">@item.Name</span>@if (item.Teacher != null){<span class="user" id="@item.Teacher.Id" title="Преподаватель @item.Teacher.Name"> / @item.Teacher.Name</span>}</h4>
        </div>
        <hr />
        <div class="discipline-container-body">
            @if (item.Teacher != null)
            {
               
                foreach (var file in item.Teacher.ApplicationFiles)
                {
                    <span title="Скачать @file.DisplayName">
                        @Html.ActionLink(file.DisplayName, "GetFile", "ApplicationFiles", new { id = file.Id }, null)
                    </span>
                }
                if (item.Teacher.ApplicationFiles.Count == 0){ <span>Учебных материалов по данной дисциплине нет</span> }

            }
            else
            {
                <span>Учебных материалов по данной дисциплине нет</span>
            }
        </div>
        <hr />
            <div class="text-center discipline-container-footer">
                <span class = "add-file" id = "@item.Id"  title="Загрузить домашнюю работу">Add HomeWork</span>
                <span class="add-file glyphicon glyphicon-upload" id="@item.Id" title="Загрузить домашнюю работу"></span>
            </div>
    </div>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")
    @Scripts.Render("~/bundles/file_upload")

    <script type="text/javascript">
        modal_window("discipline", "@Url.RouteUrl(new { controller = "Disciplines", action = "Details" })");
        modal_window("user", "@Url.RouteUrl(new { controller = "Account", action = "Details" })");
        modal_window("add-file", "@Url.RouteUrl(new { controller = "ApplicationFiles", action = "AddFile", isHomeWork = true })");

    </script>
}


