﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.group, .program, .discipline, .user, .add-file, .file, .teacher, .glyphicon{
    cursor:pointer;
}
.item-count-per-page-select{
    width: 76px;
}
.load {
  background: url(Images/load.gif) center no-repeat;
  position: absolute;
  width:50px;
  height:50px
}
.spinner{
    display:none;
}
#uploader{
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 1px dashed #fb7676;
}
.user-info-btn{
    text-align: center;
    height: 40px;
    color: #969696;
    line-height: 10px;
    width: 100%;
}
.arrow{
    padding: 0px 45px;
    top: -6px;
    font-size: 12px;
}
.discipline-container{
    border: 1px solid #cecece;
    width: 340px;
    padding: 20px 10px;
    display: inline-block;
    min-height: 250px;
    vertical-align: top;
    margin: 10px;
}
.discipline-container-body{
    min-height: 100px;
    vertical-align: top;
}
