﻿@model MyDistanceLearningSystem.Models.Discipline
<script type="text/javascript">

        $(".upload").click(function () { $('#btnFileUpload').click(); });
        $('#btnFileUpload').fileupload({
            dropZone: $("#uploader"),
            url: "@Url.RouteUrl(new { controller = "ApplicationFiles", action = "AddFile", disciplineId = Model.Id  })",
            formData: function () { return $('#file-upload').serializeArray() },
            add: function (e, data) {
                console.log("added");
                $("#file-save").removeAttr("disabled");
                $("#file-save").click(function () { data.submit(); });
            },
            drop: function(e, data){
                console.log("drop");
            },
            progress: function (e, data) {
                // Track Progress
            },
            success: function (response, status) {
                $('#result').css('color', 'green').text('Файл загружен');
            },
            error: function (error) {
                $('#result').css('color', 'red').text('Файл не загружен');
            }
        });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Добавление @(ViewBag.IsHomeWork ? "домашней работы" : "учебных материалов по дисциплине") "@Html.DisplayFor(model => model.Name)"</h4>
    </div>

    <div class="modal-body">
        <form id="file-upload">
            <dl class="dl-horizontal">
                <dt>
                    Название файла
                </dt>

                <dd>
                    @Html.TextBox("DisplayName", "Введите имя")
                </dd>
                <dt>
                    Комментарий к файлу
                </dt>

                <dd>
                    @Html.TextBox("Comment", "Введите имя")
                </dd>
                @Html.Hidden("isHomeWork", ViewBag.IsHomeWork as bool?)
            </dl>
        </form>
        <div align="center" id="uploader">
            Перетащите сюда файлы с Вашего компьютера или нажмите на кнопку<br />
            <button class="btn upload" style="font-size: 12px;">
                + Добавить файл
            </button>
        </div>

        <input type="file" name="file" id="btnFileUpload" style="display:none" />

        <div id="progressbar" style="width:100px;display:none;">
            <div>
                saadsd
            </div>
        </div>
        <div id="result"></div>
        <div class="col-md-offset-10">
            <input type="submit" value="Save" id="file-save" class="btn btn-default" disabled="disabled">
        </div>


    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/file_upload")

}
