﻿@model MyDistanceLearningSystem.Models.ApplicationFile

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Информация о файле</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DisplayName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Teacher.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Teacher.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Discipline.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discipline.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>

        </dl>
        @Html.ActionLink("Download", "GetFile", new { id = Model.Id })

    </div>
</div>