﻿@model MyDistanceLearningSystem.Models.ApplicationFile

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование файла</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>ApplicationFile</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DisciplineId, "DisciplineId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DisciplineId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DisciplineId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId, "TeacherId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(ViewBag.Teacher as String)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10">
                    <div align="center" id="uploader">
                        Перетащите сюда файлы с Вашего компьютера или нажмите на кнопку<br />
                        <button class="btn upload" style="font-size: 12px;">
                            + Добавить файл
                        </button>
                    </div>

                    <input type="file" name="file" id="btnFileUpload" />

                    <!--<div id="progressbar" style="width:100px;display:none;">
                        <div>
                            saadsd
                        </div>
                    </div>
                    <div id="result"></div>-->
                </div>
            </div>
            @Html.Hidden("FileName", ViewBag.FileName as String)
            @Html.Hidden("UploadDate", ViewBag.UploadDate as DateTime?)
            @Html.Hidden("referrer", ViewBag.Referrer as String)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" id="file-save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
        

        <div>
            <a href="@ViewBag.Referrer">Back to List</a>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/file_upload")
            <script type="text/javascript">

                $(".upload").click(function () { $('#btnFileUpload').click(); });
                $('#btnFileUpload').fileupload({
                    dropZone: $("#uploader"),
                    add: function (e, data) {
                        $("#file-save").click(function (e) {
                            e.preventDefault();
                            //data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                            data.submit();
                        });
                    },
                    done: function (e, data) {
                        //data.context.text('Upload finished.');
                        window.location.replace("@ViewBag.Referrer");
                    }
                });


            </script>

        }
