﻿@model MyDistanceLearningSystem.Models.IndexViewModel<MyDistanceLearningSystem.Models.ApplicationFile>
@using MyDistanceLearningSystem.Helpers
@{
    ViewBag.Title = "Library";
}

<h2>Библиотека</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
@if (User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<form method="get">
    <div class="form-inline">
        <input id="page" name="page" type="hidden" value="1" />
        <label class="control-label">Название файла: </label>
        @Html.TextBox("Name", Model.Name as String, htmlAttributes: new { @class = "form-control", placeholder = "Название файла" })
        <label class="control-label">Дисциплина: </label>
        @Html.DropDownList("DisciplineId", ViewBag.Disciplines as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Автор: </label>
        @Html.DropDownList("TeacherId", ViewBag.Teachers as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Количество элементов на странице: </label>
        @Html.DropDownList("ItemCountPerPage", new SelectList(new int[] { 5, 10, 50, 100 }), htmlAttributes: new { @class = "form-control item-count-per-page-select" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Автор
        </th>
        <th>
            Дисциплина
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td>
                <span class="file" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </span>
            </td>
            <td>
                <span class="teacher" id="@item.TeacherId">
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </span>
            </td>
            <td>
                <span class="discipline" id="@item.DisciplineId">
                    @Html.DisplayFor(modelItem => item.Discipline.Name)
                </span>
            </td>
            <td>
                @if (ViewBag.Teacher == item.TeacherId || User.IsInRole("admin"))
                {
                    <span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    </span>
                }
                @Html.ActionLink("Download", "GetFile", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.PageLinqs(Model.PageInfo, Model.Name, Model.SelectedDiscipline, Model.SelectedTeacher, (n, d, t, icpp, p) => Url.Action("Index", new { Name = n, DisciplineId = d, TeacherId=t, ItemCountPerPage = icpp, page = p }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")

    <script type="text/javascript">
        $('.pages a').bind('click', function () {
            $('#page').val($('.pages a.selected').html());
        });
        modal_window("file", "@Url.RouteUrl(new { controller = "ApplicationFiles", action = "Details" })");
        modal_window("teacher", "@Url.RouteUrl(new { controller = "Account", action = "Details" })");
        modal_window("discipline", "@Url.RouteUrl(new { controller = "Disciplines", action = "Details" })");

    </script>
}
