﻿@model MyDistanceLearningSystem.Models.Discipline
<script type="text/javascript">
        function OnSuccess(data) {
            $('#disciplines').append('<input type="checkbox" name="selectedDisciplines" value="' + data.Id + '" checked="checked">' + data.Name + '<br>');
            $('.close').click();
        }
           /* $('#123').click(function () {
                alert('1');
                $.ajax({
                    type: "GET",
                    url: "/TrainingPrograms/CreateDiscipline1",
                    data: "name=" + $('#Discipline').val(),
                    success: function (data) {
                        $('#disciplines').append('<input type="checkbox" name="selectedDisciplines" value="' + data + '" checked="checked">' + $('#Discipline').val() + '<br>');
                    }
                });
            });*/

</script>
<!--<label class="control-label col-md-2" for="Discipline">Ваше имя:</label>
<input class="form-control text-box single-line valid" id="Discipline" name ="Discipline" type="text" size="40">
<div id="123">Добавить дисциплину</div>-->
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Создание дисциплины</h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("CreateDiscipline", new AjaxOptions { OnSuccess = "OnSuccess" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.Hidden("TrainingProgramId", ViewBag.TrainingProgramId as int?)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}


