﻿@model MyDistanceLearningSystem.Models.TrainingProgram
@using MyDistanceLearningSystem.Models
@{
    ViewBag.Title = "Delete program";
}

<h2>Удаление программы</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (ViewBag.Disciplines.Count > 0 || ViewBag.Groups.Count > 0)
        {
            <dt>
                Связи
            </dt>

            <dd>
                <div>
                    @(ViewBag.Disciplines.Count > 0 ? "Дисциплины:" : "")
                    <ul>
                        @{
                            List<Discipline> disciplines = ViewBag.Disciplines;
                            foreach (Discipline d in disciplines)
                            {
                                <li>@d.Name</li>
                            }
                        }
                    </ul>
                </div>
                <div>
                    @(ViewBag.Groups.Count > 0 ? "Группы:" : "")
                    <ul>
                        @{
                            List<Group> groups = ViewBag.Groups;
                            foreach (Group g in groups)
                            {
                                <li>@g.Name</li>
                            }
                        }
                    </ul>
                </div>
            </dd>
        }

    </dl>
    
        
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("referrer", ViewBag.Referrer as String)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@ViewBag.Referrer">Back to List</a>
        </div>
    }
</div>
