﻿@model IEnumerable<MyDistanceLearningSystem.Models.Discipline>


<table class="table">
@foreach (var item in Model) {
    <tr id="@item.Id">
        <td>
            @Html.CheckBox(item.Id.ToString(), false)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <!--<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>-->
    </tr>
}

</table>
