﻿@model MyDistanceLearningSystem.Models.TrainingProgram
@using MyDistanceLearningSystem.Models

@{
    ViewBag.Title = "Edit program";
}

<h2>Редактирование программы</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TrainingProgram</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Disciplines, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="height: 200px; width:280px; overflow-y: scroll;" id="disciplines">
                    @{
                        List<Discipline> disciplines = ViewBag.Disciplines;
                        foreach (Discipline d in disciplines)
                        {
                            <input type="checkbox" name="selectedDisciplines" value="@d.Id"
                                   @(Model.Disciplines.Contains(d) ? "checked=\"checked\"" : "") />@d.Name <br />
                        }
                    }
                </div>
            </div>
            <div class="col-md-10 col-md-push-2">@Html.ActionLink("Добавить новую дисциплину", "CreateDiscipline", new { trainingProgramId = Model.Id }, new { id = "create_discipline", @class = "btn btn-success btn-xs", title = "Добавить новую дисциплину" })</div>
            
            <!--<div>@Ajax.ActionLink("Добавить новую дисциплину", "CreateDiscipline", "TrainingPrograms", new { trainingProgramId = @Model.Id }, new AjaxOptions { UpdateTargetId = "disciplines_selection" })</div>
            <div id="disciplines_selection" class="col-xs-12 col-md-4"></div>-->
            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Groups, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="height: 200px; width:280px; overflow-y: scroll;" id="groups">
                    @{
                        List<Group> groups = ViewBag.Groups;
                        foreach (Group g in groups)
                        {
                            <input type="checkbox" name="selectedGroups" value="@g.Id"
                                   @(Model.Groups.Contains(g) ? "checked=\"checked\"" : "") />@g.Name <br />
                        }
                    }
                </div>
            </div>
            <div class="col-md-10 col-md-push-2">@Html.ActionLink("Добавить новую группу", "CreateGroup", new { trainingProgramId = Model.Id }, new { id = "create_group", @class = "btn btn-success btn-xs", title = "Добавить новую группу" })</div>
        </div>
        
       
        @Html.Hidden("referrer", ViewBag.Referrer as String)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@ViewBag.Referrer">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

            $(function () {
                $.ajaxSetup({ cache: false });
                $("#create_discipline, #create_group").click(function (e) {

                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
    </script>
}
