﻿@model MyDistanceLearningSystem.Models.ApplicationUser
@{
    ViewBag.Title = "Создание пользователя";
}


<h2>Создание пользователя</h2>
@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label>Имя</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Фамилия</label>
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Пароль</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var roles = ViewBag.Roles;
                foreach (var r in roles)
                {
                    <input type="radio" name="selectedRole" value="@r.Id" />@r.Name <br />
                }
            }
        </div>
    </div>
    @Html.Hidden("referrer", ViewBag.Referrer as String)
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@ViewBag.Referrer" class = "btn btn-default">Отмена</a>
}






