﻿
@model MyDistanceLearningSystem.Models.ApplicationUser
    @{
        ViewBag.Title = "Редактирование пользователя";
    }

        @Html.ValidationSummary(false)

        <h2>Редактирование пользователя</h2>
        <div class="form-group">
            <label>Id</label>
            <p class="form-control-static">@Model.Id</p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="form-group">
                @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var roles = ViewBag.Roles;
                        foreach (var r in roles)
                        {
                            <input type="radio" name="selectedRole" value="@r.Id"
                                    @(ViewBag.UserRoles.Contains(r.Name.ToString()) ? "checked=\"checked\"" : "") />@r.Name <br />
                        }
                    }
                </div>
            </div>


            <div class="form-group">
                <label>Пароль</label>
                <input name="password" type="password" class="form-control" />
            </div>
            @Html.Hidden("referrer", ViewBag.Referrer as String)
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="@ViewBag.Referrer" class = "btn btn-default">Отмена</a>
        }


