﻿@model MyDistanceLearningSystem.Models.ApplicationUser
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Информация о пользователе</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Roles)
            </dt>
            <dd>
                @ViewBag.UserRole
                @{/*
                    var roles = ViewBag.UserRoles;
                    foreach (var r in roles)
                    {
                        <input type="text" name="selectedRole" value="@r" /><br />//было @r.Name
                    }*/
                }
            </dd>
            <!--<dt>
                @Html.LabelFor(model => model.Discipline)
            </dt>
            <dd>
                @if (Model.Discipline != null)
                {
                    @Html.DisplayFor(model => model.Discipline.Name)
                }
                else { 
                    @:- 
                }
            </dd>
            <dt>
                @Html.LabelFor(model => model.Group)
            </dt>
            <dd>
                @if (Model.Group != null)
                {
                    @Html.DisplayFor(model => model.Group.Name)
                }
                else
                {
                    @:-
                }
            </dd>-->
            
        </dl>

    </div>
</div>
