﻿@model MyDistanceLearningSystem.Models.IndexViewModel<MyDistanceLearningSystem.Models.ApplicationUser>
@using MyDistanceLearningSystem.Helpers
@{
    ViewBag.Title = "UsersList";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Create New", "AdminCreate")
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
<form method="get">
    <div class="form-inline">
        <input id="page" name="page" type="hidden" value="1" />
        <label class="control-label">Имя: </label>
        @Html.TextBox("Name", Model.Name as String, htmlAttributes: new { @class = "form-control", placeholder = "Имя пользователя" })
        <label class="control-label">Количество элементов на странице: </label>
        @Html.DropDownList("ItemCountPerPage", new SelectList(new int[] { 5, 10, 50, 100 }), htmlAttributes: new { @class = "form-control item-count-per-page-select" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Email
        </th>
        <th>
            Дисциплина
        </th>
        <th>
            Группа
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td>
                <span class="user" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                <span class="user" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Surname)
                </span>
            </td>
            <td>
                <span class="user" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Email)
                </span>
            </td>
            <td>
                @if (item.Discipline != null)
                {
                <span class="discipline" id="@item.Discipline.Id">
                    @Html.DisplayFor(modelItem => item.Discipline.Name)
                </span>
                }
            </td>
            <td>
                @if (item.Group != null)
                {
                <span class="group" id="@item.Group.Id">
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "AdminEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "AdminDelete", new { id = item.Id, url = Request.RawUrl})
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.PageLinqs(Model.PageInfo, Model.Name, Model.SelectedTrainingProgram, (n, tp, icpp, p) => Url.Action("UsersList", new { Name = n, TrainingProgramId = tp, ItemCountPerPage = icpp, page = p }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")

    <script type="text/javascript">
        $('.pages a').bind('click', function () {
            $('#page').val($('.pages a.selected').html());
        });
        modal_window("user", "@Url.RouteUrl(new { controller = "Account", action = "Details" })");
        modal_window("group", "@Url.RouteUrl(new { controller = "Groups", action = "Details" })");
        modal_window("discipline", "@Url.RouteUrl(new { controller = "Disciplines", action = "Details" })");
        
    </script>
}
