﻿@model List<MyDistanceLearningSystem.Models.Discipline>
@using MyDistanceLearningSystem.Models
<!--<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Привязка преподавателей</h4>-->
    <!--</div>-->
   <!-- <div class="modal-body">-->
        @{
            /*for (int i = 0; i < Model.Count; i++)
            {

                @Html.HiddenFor(d => d[i].Id)

                @Html.DisplayFor(m => m[i].Name)
                <div>
                    @for (int j = 0; j < Model[i].Teachers.Count; j++)
                    {
                    @Html.HiddenFor(m => m[i].Teachers.ToArray()[j].Id)

                    @Html.DisplayFor(m => m[i].Name)
                    <input type="radio" id="Teachers" name="Teachers" value="@(Model[i].Teachers.ToArray()[j].Id+"_"+Model[i].Id)"
                           @(Model[i].Teachers.ToArray()[j].GroupId == ViewBag.GroupId ? "checked=\"checked\"" : "") />@Model[i].Teachers.ToArray()[j].Name <br />
                        }
                    </div>
            }*/
            int i = 0;
            foreach (Discipline d in Model)
            {
                <div>
                    @Html.Display(d.Name)
                    <p>@d.Name</p>

                    @foreach (var u in d.Teachers.ToList())
                    {

                        <input type="radio" class="teachers-helper" name="teachers-helper[@i]" value="@(u.Id)"
                               @(u.GroupId == ViewBag.GroupId ? "checked=\"checked\"" : "") />@u.Name <br />

                    }

                    @Html.Hidden("teachers")
                </div>
                <br />
                i++;
            }
            <!--<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>-->

        }
    <!--</div>-->
<!--</div>-->
