﻿@model MyDistanceLearningSystem.Models.Group

@{
    ViewBag.Title = "Delete group";
}

<h2>Удаление группы</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (ViewBag.Students.Count > 0)
        {
            <dt>
                Связи
            </dt>

            <dd>
                <div>
                    Студенты:
                    <ul>
                        @{
                            var students = ViewBag.Students;
                            foreach (var s in students)
                            {
                                <li>@s.Name</li>
                            }
                        }
                    </ul>
                </div>
            </dd>
       }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("referrer", ViewBag.Referrer as String)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@ViewBag.Referrer">Back to List</a>
        </div>
    }
</div>
