﻿@model MyDistanceLearningSystem.Models.Group
@using MyDistanceLearningSystem.Models
@{
    ViewBag.Title = "Edit group";
}

<h2>Редактирование группы</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "group-edit"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainingProgramId, "TrainingProgramId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrainingProgramId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TrainingProgramId, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <!--<div class="col-md-10 col-md-push-2">/*Html.ActionLink("Привязать преподавателей", "BindTeachers", new { groupId = Model.Id, trainingProgramId = Model.TrainingProgramId /*$("#TrainingProgramId :selected").val()*/ }, new { id = "bind_teachers", class = "btn btn-success btn-xs", title = "Привязать преподавателей" })*/</div>-->
            <div class="form-group">
                @Html.Label("Преподаватели", new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="container" style="/*display:none*/">
                    <div style="height: 200px; width:280px; overflow-y: scroll;" id="teachers_list">
                        @{ int i = 0;
                            foreach (Discipline d in ViewBag.Disciplines)
                            {
                                
                                <div>
                                    @Html.Display(d.Name)
                                    <p>@d.Name</p>

                                    @foreach (var u in d.Teachers.ToList())
                                    {

                                        <input type="radio" class="teachers-helper" name="teachers-helper[@i]" value="@(u.Id)"
                                               @(u.GroupId == Model.Id ? "checked=\"checked\"" : "") />@u.Name <br />

                                    }
                                    
                                    @Html.Hidden("teachers")
                                </div>
                                <br />
                                i++;

                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Students, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="height: 200px; width:280px; overflow-y: scroll;" id="students">
                    @{
                        List<ApplicationUser> students = ViewBag.Students;
                        foreach (ApplicationUser s in students)
                        {
                            <input type="checkbox" name="selectedStudents" value="@s.Id"
                                   @(Model.Students.Contains(s) ? "checked=\"checked\"" : "") />@s.Name <br />
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Hidden("referrer", ViewBag.Referrer as String)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@ViewBag.Referrer">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    //$('input:checked').parent().find("input[type='hidden']").val($('input:checked').val());
    //$("#container input:checked").each($(this).parent().find("input[type='hidden']").val($(this).val()));
   
    function teachers_helper_function(){
        $("#container input:checked").each(function (index, element) {
            $(this).parent().find("input[type='hidden']").val($(this).val());
            console.log($(this).val());
        });
        $(".teachers-helper").change(function(){
            console.log($(this).val());
            $(this).parent().find("input[type='hidden']").val($(this).val());
        });
    }
    teachers_helper_function();
    $(function () {
        $.ajaxSetup({ cache: false });
        $("#TrainingProgramId").change(function (e) {
            e.preventDefault();
            $.get("@Url.RouteUrl(new { controller = "Groups", action = "BindTeachers" })", { groupId : @Model.Id, trainingProgramId : $("#TrainingProgramId :selected").val() }, function (data) {
                $('#teachers_list').html(data);
                teachers_helper_function();
            });
        });
                
    });
</script>
}

<!--Class
variableOne = 1
$variableInTemplate = $('#1111')

id-name-1
class-one

student-form
student-form--submit-button-->
