﻿@model MyDistanceLearningSystem.Models.IndexViewModel<MyDistanceLearningSystem.Models.Group>
@using MyDistanceLearningSystem.Helpers
@{
    ViewBag.Title = "Groups";
}

<h2>Группы</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <!--<script language="javascript" type="text/javascript">
        $('.pages a').bind('click', function () {
            $('#page').val($('.pages a.selected').html());
        });
    </script>-->
    <form method="get">
        <div class="form-inline">
            <input id="page" name="page" type="hidden" value="1" />
            <label class="control-label">Название группы: </label>
            @Html.TextBox("Name", Model.Name as String, htmlAttributes: new { @class = "form-control", placeholder = "Название группы" })
            <label class="control-label">Программа: </label>
            @Html.DropDownList("TrainingProgramId", Model.TrainingPrograms as SelectList, htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Количество элементов на странице: </label>
            @Html.DropDownList("ItemCountPerPage", new SelectList(new int[] { 5, 10, 50, 100 }), htmlAttributes: new { @class = "form-control item-count-per-page-select" })
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <table class="table">
        <tr>
            <th>
                Название группы
            </th>
            <th>
                Название программы
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Objects)
        {
            <tr>
                <td>
                    <span class="group" id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                </td>
                <td>
                    <span class="program" id="@item.TrainingProgramId">
                        @Html.DisplayFor(modelItem => item.TrainingProgram.Name)
                    </span>
                </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
                @if (User.IsInRole("admin") || User.IsInRole("teacher"))
                {
                    <td>
                        @Html.ActionLink("->", "StudentsList", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
    <br />
    <div class="btn-group pages">
        @Html.PageLinqs(Model.PageInfo, Model.Name, Model.SelectedTrainingProgram, (n, tp, icpp, p) => Url.Action("Index", new { Name = n, TrainingProgramId = tp, ItemCountPerPage = icpp, page = p }))
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/js_functions")

        <script type="text/javascript">
            $('.pages a').bind('click', function () {
                $('#page').val($('.pages a.selected').html());
            });
            modal_window("group", "@Url.RouteUrl(new { controller = "Groups", action = "Details" })");
            modal_window("program", "@Url.RouteUrl(new { controller = "TrainingPrograms", action = "Details" })");
            
        </script>
    }
