﻿@model IEnumerable<MyDistanceLearningSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "StudentsList";
}

<h2>Студенты</h2>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="user" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                <span class="user" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Surname)
                </span>
            </td>
            <td>
                <!--Html.ActionLink("Edit", "AdminEdit", new { id = item.Id }) |
                Html.ActionLink("Delete", "AdminDelete", new { id = item.Id, url = Request.RawUrl })-->
                @Html.ActionLink("Написать сообщение", "Create", "Messages", new { Id = item.Id }, new { Id = item.Id, @class = "message-create" })
            </td>
        </tr>
    }

</table>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")

    <script type="text/javascript">

        modal_window("user", "@Url.RouteUrl(new { controller = "Groups", action = "StudentsInfo" })");
        modal_window("message-create", "@Url.RouteUrl(new { controller = "Messages", action = "Create" })");

    </script>
}
