﻿@model MyDistanceLearningSystem.Models.ApplicationUser
<script type="text/javascript">
    var $text = $('.user-info-text'),
    $button = $('.user-info-btn');
    $button.click(function () {
        if ($text.is(':visible')) {
            $text.slideUp();
            $button.find(".glyphicon").removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down")
        } else {
            $button.find(".glyphicon").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up")
            $text.slideDown();
        }
    });
</script>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Информация о пользователе</h4>
    </div>
    <div class="modal-body">
        <!--сведения о самом пользователе-->
        <button class="btn user-info-btn center-block" style="width: 100%;">
            <span>Информация о студенте</span> <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <dl class="dl-horizontal user-info-text" style="display: none;">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>


        <!--сведения об успеваемости-->
        <div class="home-works-container">
            @if (Model.ApplicationFiles.Count != 0)
            {
                <h4 title="Дисциплина @ViewBag.Teacher.Discipline.Name">@ViewBag.Teacher.Discipline.Name</h4>
                foreach (var file in Model.ApplicationFiles.Where(f=>f.DisciplineId == ViewBag.Teacher.Discipline.Id))
                {
                    <span title="Скачать @file.DisplayName">
                        @Html.ActionLink(file.DisplayName, "GetFile", "ApplicationFiles", new { id = file.Id, isHomeWork = true }, null)
                    </span>
                }

            }
        </div>
        <hr />
    </div>
</div>

