﻿<!DOCTYPE html>

<html>
<head>
    <title>Простой чат</title>
</head>
<body>
    <form>
        <input type="text" id="senderId" value="8332fca0-b710-4c44-9491-97a607b86d62" />
        <input type="text" id="senderName" value="MyStudent1" />
        <input type="text" id="messageName" value="Message1" />
        <input type="text" id="messageBody" value="Hallo" />
        <input type="text" id="receiverId" value="a9be2155-fb37-4e18-80c1-687a0a559af7" />
        <input type="button" value="send" id="send-my-message" />
    </form>

</body>
</html>
