﻿@model MyDistanceLearningSystem.Models.Message


<script type="text/javascript">
    $("#send-my-message").click(function () { $(".close").click(); });

</script>
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Создание сообщения</h4>
    </div>
    <div class="modal-body">
        <form>
            <!--<input type="text" id="senderId" value="8332fca0-b710-4c44-9491-97a607b86d62" />
            <input type="text" id="senderName" value="MyStudent1" />
            <input type="text" id="messageName" value="Message1" />
            <input type="text" id="messageBody" value="Hallo" />
            <input type="text" id="receiverId" value="a9be2155-fb37-4e18-80c1-687a0a559af7" />
            <input type="button" value="send" id="send-my-message" />-->
            <dl class="dl-horizontal">
                @Html.ValidationSummary(true)
                <dt>
                    Название сообщения
                </dt>

                <dd>
                    @Html.TextBox("Name")
                </dd>
                <dt>
                    Сообщение
                </dt>

                <dd>
                    @Html.TextBox("Body")
                </dd>

            </dl>
            @Html.Hidden("SenderId", ViewBag.SenderId as String)
            @Html.Hidden("SenderName", ViewBag.SenderName as String)
            @Html.Hidden("ReceiverId", ViewBag.ReceiverId as String)

            <div class="col-md-offset-10">
                <input type="submit" value="Отправить" id="send-my-message" class="btn btn-default" />
            </div>
        </form>  
        

    </div>
</div>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
<script src="~/signalr/hubs"></script>
<script src='@Url.Content("~/Scripts/messager_function.js")'></script>