﻿@model MyDistanceLearningSystem.Models.Message

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Информация о группе</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Receiver.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Receiver.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sender.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sender.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsRead)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsRead)
            </dd>

        </dl>
    </div>
</div>
