﻿@model MyDistanceLearningSystem.Models.IndexViewModel<MyDistanceLearningSystem.Models.Message>
@using MyDistanceLearningSystem.Helpers
@{
    ViewBag.Title = "MessagesList";
}

<h2>Сообщения</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
<form method="get">
    <div class="form-inline">
        <input id="page" name="page" type="hidden" value="1" />
        <label class="control-label">Название сообщения: </label>
        @Html.TextBox("Name", Model.Name as String, htmlAttributes: new { @class = "form-control", placeholder = "Название сообщения" })
        <label class="control-label">Количество элементов на странице: </label>
        @Html.DropDownList("ItemCountPerPage", new SelectList(new int[] { 5, 10, 50, 100 }), htmlAttributes: new { @class = "form-control item-count-per-page-select" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table" id="messages-list">
    <tr id="table-head">
        <th>
           Название сообщения
        </th>
        <th>
            Дата и время отправления
        </th>
        <th>
           Имя отправителя
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td>
                <span class="message" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                <span class="message" id="@item.Id">
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </span>
            </td>
            <td>
                <span class="user" id="@item.SenderId">
                    @Html.DisplayFor(modelItem => item.Sender.Name)
                </span>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group pages">
    @Html.PageLinqs(Model.PageInfo, Model.Name, (n, icpp, p) => Url.Action("MessagesList", new { Name = n, ItemCountPerPage = icpp, page = p }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")

    <script type="text/javascript">
        $('.pages a').bind('click', function () {
            $('#page').val($('.pages a.selected').html());
        });
        modal_window("user", "@Url.RouteUrl(new { controller = "Account", action = "Details" })");
        modal_window("message", "@Url.RouteUrl(new { controller = "Messages", action = "Details" })");

    </script>
}
