﻿@model MyDistanceLearningSystem.Models.IndexViewModel<MyDistanceLearningSystem.Models.Message>

@{
    ViewBag.Title = "MessagesList";
}

<h2>Сообщения</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="spinner text-center">
    <i class="load"></i>
</div>
<table class="table">
    <tr>
        <th>
            @Html.TextBox("Name", Model.Name as String, htmlAttributes: new { @class = "form-control", placeholder = "Название сообщения" })
        </th>
        <th>
            @Html.DropDownList("ItemCountPerPage", new SelectList(new int[] { 5, 10, 50, 100 }), htmlAttributes: new { @class = "form-control item-count-per-page-select" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model    <tr>
        <td>
            <span class="message" id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </td>
        <td>
            <span class="message" id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </td>
        <td>
            <span class="user" id="@item.SenderId">
                @Html.DisplayFor(modelItem => item.Sender.Name)
            </span>
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js_functions")

    <script type="text/javascript">
        $('.pages a').bind('click', function () {
            $('#page').val($('.pages a.selected').html());
        });
        modal_window("user", "@Url.RouteUrl(new { controller = "Account", action = "Details" })");
        modal_window("message", "@Url.RouteUrl(new { controller = "Messages", action = "Details" })");

    </script>
}